[net]

classes=1
batch=2
steps=100
width=416
height=416
anchor_nums=3,3,3
angle=0
saturation=1.5
exposure=1.5
hue=.1
# Make sure to update anchors in all places in config file
anchors=25,87, 44,55, 46,110, 72,74, 80,118, 93,45, 105,72, 127,96, 144,58
strides = 32,16,8

[convolutional]

batch_normalize=1

filters=32

size=3

stride=1

pad=1

activation=leaky



# Downsample

[convolutional]

batch_normalize=1

filters=64

size=3

stride=2

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=32

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=64

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



# Downsample



[convolutional]

batch_normalize=1

filters=128

size=3

stride=2

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=64

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=128

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=64

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=128

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



# Downsample



[convolutional]

batch_normalize=1

filters=256

size=3

stride=2

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear





[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



# Downsample



[convolutional]

batch_normalize=1

filters=512

size=3

stride=2

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear





[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear





[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear





[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear





[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear





[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



# Downsample



[convolutional]

batch_normalize=1

filters=1024

size=3

stride=2

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=1024

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=512

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=1024

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=512

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=1024

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



[convolutional]

batch_normalize=1

filters=512

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

filters=1024

size=3

stride=1

pad=1

activation=leaky



[shortcut]

from=-3

activation=linear



######################



[convolutional]

batch_normalize=1

filters=512

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

size=3

stride=1

pad=1

filters=1024

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

size=3

stride=1

pad=1

filters=1024

activation=leaky



[convolutional]

batch_normalize=1

filters=512

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

size=3

stride=1

pad=1

filters=1024

activation=leaky



[convolutional]

size=1

stride=1

pad=1

filters=18

activation=linear





[yolo]

mask = 6,7,8

anchors = 25,87, 44,55, 46,110, 72,74, 80,118, 93,45, 105,72, 127,96, 144,58

classes=1

num=9

jitter=.3

ignore_thresh = .5

truth_thresh = 1

random=1





[route]

layers = -4



[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[upsample]

stride=2



[route]

layers = -1, 61







[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

size=3

stride=1

pad=1

filters=512

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

size=3

stride=1

pad=1

filters=512

activation=leaky



[convolutional]

batch_normalize=1

filters=256

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

size=3

stride=1

pad=1

filters=512

activation=leaky



[convolutional]

size=1

stride=1

pad=1

filters=18

activation=linear





[yolo]

mask = 3,4,5

anchors = 25,87, 44,55, 46,110, 72,74, 80,118, 93,45, 105,72, 127,96, 144,58

classes=1

num=9

jitter=.3

ignore_thresh = .5

truth_thresh = 1

random=1







[route]

layers = -4



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[upsample]

stride=2



[route]

layers = -1, 36







[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

size=3

stride=1

pad=1

filters=256

activation=leaky



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

size=3

stride=1

pad=1

filters=256

activation=leaky



[convolutional]

batch_normalize=1

filters=128

size=1

stride=1

pad=1

activation=leaky



[convolutional]

batch_normalize=1

size=3

stride=1

pad=1

filters=256

activation=leaky



[convolutional]

size=1

stride=1

pad=1

filters=18

activation=linear




[yolo]
mask = 0,1,2
anchors = 25,87, 44,55, 46,110, 72,74, 80,118, 93,45, 105,72, 127,96, 144,58
classes=1
num=9
jitter=.3
ignore_thresh = .5
truth_thresh = 1
random=1

